[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=Simple
WorkingDirectory=/home/appuser/reddit
ExecStart=/usr/local/bin/puma
Restart=always

[Install]
WantedBy=multi-user.target
